* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 1440px;
}
.App {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}